*{
    font-family:'Helvetica';
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: right;
  background:  #00af00;
  width: 100%;
  height: 92px;
  margin-bottom: 20px;
}
img{
  margin-right: 1%;
  width: 60px;
  float: none;
}
  body{
    background-color: white;
  }
  .main-action input{
    outline: none;
    background:#fff;
    border: 2px solid #b8afaf;   
    padding: .5rem 1.6rem; 
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.main-action span{
   float: right;
   margin-top: 1%;
   margin-right: 2.5rem;
   cursor: pointer;
}
label{
    font-size: 15px;
    font-family:Helvetica;
    text-align: 25%;
}
  section {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  td {
    padding: 10px;
    text-align: center;
  }
  
  th{
    padding: 10px;
    text-align: center;
  }
  
  th {
    font-weight: bold;
    background-color:#f7f7f7;
    border-bottom: 1px solid #ccc;
  }
  
  tr:nth-child(even) {
    background-color: #f7f7f7;
  }
  
  /* Estilos responsive */
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 24px;
    }
    
    table {
      font-size: 14px;
    }
    
    th,td {
      padding: 5px;
    }
  }
  button{
    width: 170px;
    padding: 10px 25px;
    border: none;
    background-color: #00af00;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
  .contenedor-btn{
    display: flex;
    margin-left: 70%;
  }
.popup {
  width: 40%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 500;
    border-radius: 8px;
    box-shadow:5px 5px 10px black;
    margin-top: 10px;
}

/* menu horizontal*/

body {
  margin: 0%;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.img {
  display: flex;
  padding-left: 1%;
  align-items: center;
  width: 40%;
  height: 100%;
  /* background-color: yellow; */
}

.img img {
  width: 40px;
  margin-top: 30px;
}/*  */
.img label{
  color: white;
  font-weight: bold;
  padding-left: 1%;
  font-size: 20px;
  margin-top: 40px
}
.navbar-left {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 53%;
  height: 100%;
  /* padding-left: 1%; */
  /* background-color: red; */
}
.navbar-left button {
  background-color: transparent;
  border-radius: 5px;
  width: 90%;
  height: 150%;
  border: none;
  color: white;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 15px;
}
.navbar-left button:hover {
  background: linear-gradient(45deg, transparent, #a1d48a);
  border-bottom: 1px solid white;
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7%;
  height: 100%;
  /* background-color: yellow; */
}
.navbar-right img {
  width: 50px;
  height: auto;
  margin-top: 50px;
}

/* agendar*/

