{% extends "layout.html" %}

{% block content%}
<div class="mt-5  container d-flex justify-content-center w-25">

    <form action="" class="text-center  mx-0 card p-3">
        <h2>Registro centro de formación</h2>
        <div class="text-start p-0 mt-3">
            <label for="" class="form-label">Código</label>
            <input type="text" class="form-control">
        </div>
        <div class="text-start p-0 mt-3">
            <label for="" class="form-label">Nombre de centro</label>
            <input type="text" class="form-control">
        </div>
        <div class="text-start p-0 mt-3">
            <label for="" class="form-label">Regional</label>
            <input type="text" class="form-control">
        </div>
        <div>
            <button class="btn btn-success mt-3">Guardar</button>
        </div>
    </form>
    
</div>
<style>
    body {
        background-color: rgba(128, 128, 128, 0.137);
    }
</style>
{% endblock %}