{% extends "layout.html" %}

{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultar_fichas"><i class="fa-solid fa-house"></i></a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/asignaciones">Asignaciones</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/centros_formacion">Añadir centro</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="aprendiz">Aprendices</a>
</button>
{% endblock%}


{% block content%}
<div class="mt-5  container d-flex justify-content-center w-40  ">

    <form action="/guardar_centro" class="text-center form-container mx-0 card p-3 rounded-4 " method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2>Registro centro de formación</h2>
        <div class="text-start p-0 mt-3">
            <label for="codigo_centro" class="form-label">Código</label>
            <input type="text" class="form-control rounded-pill" name="codigo_centro" id="codigo_centro" placeholder="Código del centro" required>
        </div>
        <div class="text-start p-0 mt-3">
            <label for="nombre_centro" class="form-label">Nombre de centro</label>
            <input type="text" class="form-control rounded-pill" name="nombre_centro" id="nombre_centro" placeholder="Nombre del centro" required>
        </div>
        <div class="text-start p-0 mt-3">
            <label for="codigo_regional" class="form-label">Regional</label>
            <select  class="form-select rounded-pill" name="codigo_regional" id="codigo_regional" required>
                <option disabled selected value="">Selecciona regional</option>
                {% for regional in regionales %}
                <option value="{{regional.codigo_regional}}" >{{regional.nombre_regional}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <button class="btn btn-success mt-3">Guardar</button>
        </div>
    </form>
    
</div>
<style>
    body {
        background-color: rgba(128, 128, 128, 0.137);
    }
</style>
{% endblock %}