{%extends "layout.html" %}
{% block logout%}
<a href="{{url_for("pagina_inicio.logout")}}" class="d-flex btn btn-secondary">Cerrar sesión</a>    
{% endblock %}
{% block upload%}
<nav class="nav gris d-flex p-1 ">
    <div class="">
        <button class="atras-icono btn btn-success mt-1 mx-1">
            <a href="">
                <i class="bi bi-arrow-left"></i>
            </a>
        </button>     
    </div>
    <form class="p-1 d-flex" action="/table" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="file" name="archivo" accept=".xls" class="form-control-file btn btn-success mx-3  ">
        
        <button  onclick="verificarFicha()" type="submit" class="btn btn-success" id="botonEnviar" disabled>Subir Archivo</button>
    </form>   
</nav>
{% endblock %}

{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/centros_formacion">Añadir centro</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="aprendiz">Aprendices</a>
</button>
{% endblock%}


{% block content %}

<style>
    body {
        background-image: url('/static/img/sena.jpg');
        background-size: cover;
    }
</style>
    <script>
        function verificarArchivo(input) {
            var botonEnviar = document.getElementById('botonEnviar');
    
            // Verificar si se seleccionó un archivo
            if (input.files.length > 0) {
                botonEnviar.disabled = false;
            }
        }
    </script>
    
    {% if xls == False %}
    <script>
        // Mostrar alerta aquí
        swal({
            title: 'Error al cargar archivo Excel',
            text: 'Debe ser un archivo Excel con extensión .xls',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {% endif %}
    {% if not_data == False %}
    <script>
        // Mostrar alerta aquí
        swal({
            title: 'Error al cargar archivo Excel',
            text: 'El contenido del archivo no es correcto',
            icon: 'error',
            confirmButtonText: 'OK'
        });
    </script>
    {% endif %}
{% endblock %}