{% extends "layout.html"%}


{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultar_fichas">Consultar fichas</a>
</button> 
{% endblock%}
{% block instructores %}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="Registroinstructor.html">Instructores</a>
</button>
{% endblock %}

{% block indicadores %}
<button type="button" class="btn btn-outline-success ">
    <a   class="nav-link active text-white" href="Registroinstructor.html">indicadores</a>
</button>
{% endblock %}

{% block upload%}
{% endblock %}

{% block content%}
    
  

    <nav class="nav gris d-flex justify-content-between p-1 ">
        <form class="p-1 d-flex" action="/table2" method="POST" enctype="multipart/form-data">
            
                <input type="file" name="archivo2" accept=".xls, .xlsx" class="form-control-file btn btn-success mx-3  ">
            
            <button type="submit" class="btn btn-success" id="botonEnviar" disabled>Subir Archivo</button>
        </form>   
    </nav>
    
    <style>
        body {
            background-image: url('/static/img/SENA-GUAVIARE-1.jpeg');
            background-size: cover;
        }
    </style>
      
       
            
             
    
<script src="/static/js/consultaraprendiz.js"></script>


{%endblock%}