{% extends "layout.html" %}
{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/inicioinstructor"><i class="fa-solid fa-house"></i></a>
</button>
<button type="button" class="btn btn-outline-success ">
    
    <a  class="nav-link active text-white" href="/crearseguimiento3">Crear seguimiento</a>
</button>
<button type="button" class="btn btn-outline-success ">
  <a  class="nav-link active text-white" href="/aprendicesasignados">Aprendices Asignados</a>
</button>
{% endblock%}
{% block content %}
<style>
    
    .form-control {
        
        border: 0.1px solid rgb(79, 74, 74);
        
    }
    .input-container {
    position: relative;
}

div > .auto {
    height: 2.5rem;
    background-color: rgba(128, 128, 128, 0.151);
}

.input-container input {
    padding-right: 30px; /* Ajusta el padding derecho para que el texto no se solape con el icono */
    background-color: white;
}

.input-container .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-container .icon i {
    font-size: 20px; /* Tamaño del ícono */
    color: #555; /* Color del ícono */
}
div > .actividades, div > .evidencias {
    margin: 5px;
}

div > .fecha_inicio, div > .fecha_fin, div > .lugar {
    margin: 5px;
}
.form-group {
            margin-bottom: 10px;
        }
        .form-group input[type="text"],
        .form-group input[type="date"] {
            width: 100%;
        }
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* Espacio entre los botones y los campos de entrada */
}
</style>
<form class="container-fluid w-75 mt-3">
    <div>
        <label for="">¿La reunión es virtual o presencial?</label><br>
        <select name="" id="reunion">
            <option value=""></option>
            <option value="">Presencial</option>
            <option value="">Virtual</option>
        </select>
    </div>
    <h3 class="text-center">1. INFORMACIÓN GENERAL</h3>
    <h5 class="">DATOS DEL APRENDIZ</h5>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2" style="position: relative;">
            <label for="documento"><b>Identificación:</b></label>
            <div class="input-container">
                <input type="text" class="form-control" id="documento" placeholder="Número de documento" autocomplete="off">
                <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            
            <div id="datalist" style="position: absolute; overflow-y: auto; max-height: 20rem; overflow-x: hidden;">
            
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-danger mt-2">
                <ul>
                    {% for category, message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% endwith %}
            
<!-- Lista desplegable -->
        </div>
        <div class="form-group col-md-6 p-2 ">
            <label for="nombreAprendiz"><b>Nombre:</b></label>
            <div class="form-control auto" id="aprendiz">
                
            </div>
        
        </div>
    </div>

    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="regional" class="font-weight-bold"><b>Regional:</b></label>
            <div class="form-control auto" id="regional"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="centro"><b>Centro de Formación:</b></label>
            <div class="form-control auto" id="centro"></div>
        </div>
    </div>

    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="ficha"><b>No. de ficha:</b></label>
            <div class="form-control auto" id="ficha"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="programa"><b>Programa de Formación:</b></label>
            <div class="form-control auto" id="programa"></div>
        </div>
    </div>
    <h5 class="mt-2">ENTE CONFORMADOR</h5>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="razonsocial"><b>Razón social:</b></label>
            <div class="form-control auto" id="razonsocial"></div>
        </div>
        <div class="form-group col-md-6 p-2 input-container">
            <label for="cargo"><b>Cargo:</b></label>
            <input type="text" class="form-control" id="documento" placeholder="Jefe directo" autocomplete="off">
        </div>
    </div>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="nit"><b>Nit:</b></label>
            <div class="form-control auto" id="nit"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="telefono"><b>Teléfono:</b></label>
            <input type="number" class="form-control" id="telefono"></div>
        </div>
    </div>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="direccion"><b>Dirección</b></label>
            <div class="form-control auto" id="direccion"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="email"><b>Email:</b></label>
            <input type="email" class="form-control" id="email"></div>
        </div>
    </div>
    <h3 class="text-center mt-3">2. PLANEACIÓN DE ETAPA PRODUCTIVA</h3>
    <h5 class="text-center mt-2">CONCERTACIÓN PLAN DE TRABAJO DURANTE LA ETAPA PRODUCTIVA DEL APRENDIZ</h5>
    <div id="inputFields">
        <!-- Campo de entrada inicial -->
        <div class="form-row d-flex">
            <div class="form-group col-md-2.5 actividades">
                <label for="direccion"><b>Actividades a desarrollar:</b></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-2.5 evidencias">
                <label for="email"><b>Evidencias de aprendizaje:</b></label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-md-1.5 fecha_inicio">
                <label for=""><b>Fecha inicio:</b></label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group col-md-1.5 fecha_fin">
                <label for=""><b>Fecha fin:</b></label>
                <input type="date" class="form-control">
            </div>
            <div class="form-group col-md-1.5 lugar">
                <label for="email"><b>Lugar:</b></label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <div class="button-container ">
        <button class="btn btn-info mr-2 mx-2" type="button" id="addInput" onclick="addInputField()">+ Agregar</button>
        <button class="btn btn-danger mx-2" type="button" id="removeInput" onclick="removeInputField()">- Eliminar</button>
    </div>
    <textarea name="" class="form-control mt-3"style="resize: none;"  id="observaciones" cols="30" rows="4" placeholder="Observaciones" style="resize: None; height: 2rem;"></textarea>
</form>
<script>
    function addInputField() {
        var inputFields = document.getElementById('inputFields');
        var newInputField = inputFields.firstElementChild.cloneNode(true);
        inputFields.appendChild(newInputField);
    }

    function removeInputField() {
        var inputFields = document.getElementById('inputFields');
        if (inputFields.children.length > 1) {
            inputFields.removeChild(inputFields.lastElementChild);
        }
    }
</script>
<script>
    $(document).ready(function(){
        $("#documento").on("input", function(e){
            var inputValue = $(this).val().trim();
            if (inputValue === "") {
                // Si el campo está vacío, limpiar los otros campos
                $("#aprendiz, #regional, #centro, #ficha, #programa, #razonsocial, #telefono, #email, #direccion, #nit" ).text("");
                $("#datalist").empty();
                return;
            }
            $("#datalist").empty();
            $.ajax({
                type: "get",
                url: "/buscar_aprendiz",
                data: { text: inputValue },
                success: function(res){
                    var data = "<div class='list-group'>";
                    $.each(res, function(index, value){
                        data += "<p style='margin: 0; width: 30rem;' class='list-group-item list-group-item-action' data-documento='" + value.documento + "'>" + value.documento + "</p>";
                    });
                    data += "</div>";
                    $("#datalist").html(data);
                }
            });
        });

        // Cerrar el datalist al hacer clic fuera de él
        $(document).click(function(e) {
            if (!$(e.target).closest('#datalist, #documento').length) {
                $("#datalist").empty();
            }
        });

        // Manejar la selección de un elemento de la lista
        $(document).on("click", "#datalist .list-group-item", function(){
            var documentoSeleccionado = $(this).data("documento");
            $("#documento").val(documentoSeleccionado);
            $("#datalist").empty();

            // Realizar una solicitud AJAX adicional para obtener la información del aprendiz
            $.ajax({
                type: "get",
                url: "/get_aprendiz/" + documentoSeleccionado,
                success: function(aprendiz){
                    $("#aprendiz").text(aprendiz.nombre_aprendiz + " " +  aprendiz.apellido_aprendiz);
                    $("#regional").text(aprendiz.nombre_regional);
                    $("#centro").text(aprendiz.nombre_centro);
                    $("#ficha").text(aprendiz.codigo_ficha);
                    $("#programa").text(aprendiz.programa);
                    $("#nit").text(aprendiz.nit);
                    $("#razonsocial").text(aprendiz.razon_social);
                    $("#telefono").text(aprendiz.telefono);
                    $("#direccion").text(aprendiz.direccion);
                    $("#email").text(aprendiz.email);
                }
            });
        });
    });
</script>
<script>
    
</script>
{% endblock %}