{% extends "layout.html" %}
{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/inicioinstructor"><i class="fa-solid fa-house"></i></a>
</button>
<button type="button" class="btn btn-outline-success ">
    
    <a  class="nav-link active text-white" href="/crearseguimiento3">Crear seguimiento</a>
</button>
<button type="button" class="btn btn-outline-success ">
  <a  class="nav-link active text-white" href="/aprendicesasignados">Aprendices Asignados</a>
</button>
{% endblock%}
{% block content %}

<form class="container-fluid w-75">
    <h5 class="">DATOS DEL APRENDIZ</h5>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="documento"><b>Identificación:</b></label>
            <input type="text" class="form-control" id="documento" placeholder="Número de documento">
            <div id="datalist"></div> <!-- Lista desplegable -->
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="nombreAprendiz"><b>Nombre:</b></label>
            <div class="form-control" id="aprendiz"></div>
        </div>
    </div>

    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="regional" class="font-weight-bold"><b>Regional:</b></label>
            <div class="form-control" id="regional"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="centro"><b>Centro de Formación:</b></label>
            <div class="form-control" id="centro"></div>
        </div>
    </div>

    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2">
            <label for="ficha"><b>No. de ficha:</b></label>
            <div class="form-control" id="ficha"></div>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="programa"><b>Programa de Formación:</b></label>
            <div class="form-control" id="programa"></div>
        </div>
    </div>
</form>
    <script>
        $(document).ready(function(){
            $("#documento").on("input", function(e){
                $("#datalist").empty();
                $.ajax({
                    type: "get",
                    url: "/buscar_aprendiz",
                    data: { text: $("#documento").val() },
                    success: function(res){
                        var data = "<div class='list-group'>";
                        $.each(res, function(index, value){
                            data += "<p class='list-group-item list-group-item-action' data-documento='" + value.documento + "'>" + value.documento + "</p>";
                        });
                        data += "</div>";
                        $("#datalist").html(data);
    
                        // Manejar la selección de un elemento de la lista
                        $("#datalist .list-group-item").click(function(){
                            var documentoSeleccionado = $(this).data("documento");
                            $("#documento").val(documentoSeleccionado);
                            $("#datalist").empty();
    
                            // Realizar una solicitud AJAX adicional para obtener la información del aprendiz
                            $.ajax({
                                type: "get",
                                url: "/get_aprendiz/" + documentoSeleccionado,
                                success: function(aprendiz){
                                    $("#aprendiz").text(aprendiz.nombre_aprendiz + " " +  aprendiz.apellido_aprendiz);
                                    $("#regional").text(aprendiz.nombre_regional);
                                    $("#centro").text(aprendiz.nombre_centro);
                                    $("#ficha").text(aprendiz.codigo_ficha);
                                    $("#programa").text(aprendiz.programa);
                                }
                            });
                        });
                    }
                });
            });
        });
    </script>
    
    
    <script>
        $(document).ready(function(){
            $('#regional').change(function(){
                var regionalId = $(this).val();
                $.ajax({
                    url: '/get_centros/' + regionalId,
                    type: 'GET',
                    success: function(response){
                        var centros = response.centros;
                        var options = '<option value="">Seleccionar Centro de Formación</option>';
                        for(var i=0; i<centros.length; i++){
                            options += '<option value="' + centros[i].codigo_centro + '">' + centros[i].nombre_centro + '</option>';
                        }
                        $('#centro').html(options);
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        });
    </script>
   
{% endblock %}