{%extends "layout.html"%}

{%block head %}
  <link rel="stylesheet" href="/static/src/paginainicio.css">
  <title>{{title}}</title>
{% endblock%}

{% block login %}
<body>
  <div class="fondo">
    <div class="container">
      
      <h1>Iniciar sesión</h1>
        <label>Seleccione su rol</label>
          <select name="select">
            <option>Administrador</option>
            <option>Coordinador</option>
            <option>Instructor</option>
            <option>Aprendiz</option>
            <option value="">Empresario</option>
          </select>
          <label>Número de documento</label>              
          <div class="form-group form-div">   
            <span><i class="fa-solid fa-user"></i></span>
            <input type="email" placeholder=" Ingrese documento">  
          </div>
          <label>Contraseña</label>
          <div class="form-group form-div">
            <span><i class="fa-solid fa-lock"></i></span>
            <input  type="password" placeholder=" Ingrese contraseña">
          </div>    
          <a href="consultar_fichas" class="btn-success">Iniciar sesión</a>
    </div>  
  </div>

{% endblock %}
         