{% extends "layout.html" %}
{% block logout%}
<a href="{{url_for("pagina_inicio.logout")}}" class="d-flex btn btn-secondary text-lg">Cerrar sesión</a>    
{% endblock %}

{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultar_fichas"><i class="fa-solid fa-house"></i></a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/seguimientos">Seguimientos</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/empresas">Empresas</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="aprendiz">Aprendices</a>
</button>
{% endblock%}
{% block leftmenu %}
<a  class="nav-link active text-white" href="/centros_formacion">Añadir centro</a>
{% endblock %}
{% block content %}
<style>
    .form-control {
        height: 2.5rem;
        background-color: rgba(128, 128, 128, 0.151);
        border: 1px solid rgba(0, 0, 0, 0.439);
    }
    .input-container {
    position: relative;
}

.input-container input {
    padding-right: 30px; /* Ajusta el padding derecho para que el texto no se solape con el icono */
    background-color: white;
}

.input-container .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input-container .icon i {
    font-size: 20px; /* Tamaño del ícono */
    color: #555; /* Color del ícono */
}

</style>
<form action="/guardar_empresa" class="container-fluid w-75" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="user_id" value="{{ current_user.id }}">
    <h2 class="text-center mt-2">Registro de Empresa</h2>
    <div class="form-row d-flex">
        <div class="form-group col-md-6 p-2" style="position: relative;">
            <label for="documento"><b>Nit:</b></label>
            <div class="input-container">
                <input type="text" class="form-control" id="nit" name="nit" placeholder="Nit" autocomplete="off" required>
                <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
            
            <div id="datalist" style="position: absolute; overflow-y: auto; max-height: 20rem; overflow-x: hidden;">
            
            </div>
            
<!-- Lista desplegable -->
        </div>
        <div class="form-group col-md-6 p-2 ">
            <label for="nombreAprendiz"><b>Razón social:</b></label>
            <input type="text" id="razonsocial" name="razonsocial" class="form-control" placeholder="Razón social" required>
        
        </div>
    </div>

    <div class="form-row d-flex">
        
        <div class="form-group col-md-6 p-2">
            <label for="centro"><b>Dirección:</b></label>
            <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Dirección" required>
        </div>
        <div class="form-group col-md-6 p-2">
            <label for="ficha"><b>Telefono:</b></label>
            <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Telefono" required>
        </div>
    </div>

    <div class="form-row d-flex">
        
        <div class="form-group col-md-6 p-2 ">
            <label for="programa"><b>Email:</b></label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required>
        </div>
    </div>
    <div class="text-center mt-5">
        <button id="guardar-btn" class="btn btn-success">Guardar</button>
    </div>

    <div id="mensaje-empresa-existente" class="text-center mt" style="display: none;">
        <p class="text-danger">La empresa ya está registrada y no se pueden modificar sus valores.</p>
    </div>

    {% if ya_existe_empresa %}
    <script>
        swal({
                title: 'La empresa ya está registrada',
                text: '',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        // Mostrar el mensaje de empresa existente si ya existe una empresa
        $("#mensaje-empresa-existente").show();
        // Deshabilitar el botón de guardar si la empresa ya existe
        $("#guardar-btn").prop('disabled', true);
    </script>
    {% endif %}
</form>
<script>
    $(document).ready(function(){
        $("#nit").on("input", function(e){
            var inputValue = $(this).val().trim();
            if (inputValue === "") {
                // Si el campo está vacío, limpiar el datalist
                $("#datalist").empty();
                return;
            }
            $("#datalist").empty();
            $.ajax({
                type: "GET",
                url: "/buscar_empresa",
                data: { text: inputValue },
                success: function(res){
                    var data = "<div class='list-group'>";
                    $.each(res, function(index, value){
                        data += "<p style='margin: 0; width: 30rem;' class='list-group-item list-group-item-action' data-nit='" + value.nit + "'>" + value.nit + "</p>";
                    });
                    data += "</div>";
                    $("#datalist").html(data);
                    // Habilitar o deshabilitar el botón de guardar dependiendo de si la empresa ya existe
                    $("#guardar-btn").prop('disabled', res.length > 0);
                    // Mostrar u ocultar el mensaje de empresa existente según si ya existe una empresa
                    $("#mensaje-empresa-existente").toggle(res.length > 0);
                    // Limpiar los campos si la empresa no existe
                    if (res.length === 0) {
                        $("#razonsocial").val('');
                        $("#direccion").val('');
                        $("#telefono").val('');
                        $("#email").val('');
                    }
                    
                }
            });
        });

        // Cerrar el datalist al hacer clic fuera de él
        $(document).click(function(e) {
            if (!$(e.target).closest('#datalist, #nit').length) {
                $("#datalist").empty();
            }
        });

        // Manejar la selección de un elemento de la lista
        $(document).on("click", "#datalist .list-group-item", function(){
            var nitSeleccionado = $(this).data("nit");
            $("#nit").val(nitSeleccionado);
            $("#datalist").empty();

            // Realizar una solicitud AJAX adicional para obtener la información de la empresa
            $.ajax({
                type: "GET",
                url: "/get_empresa/" + nitSeleccionado,
                success: function(empresa){
                    $("#razonsocial").val(empresa.razon_social);
                    $("#direccion").val(empresa.direccion);
                    $("#telefono").val(empresa.telefono);
                    $("#email").val(empresa.email);

                    // Si la empresa existe, deshabilitar los campos
                    if (empresa.exists) {
                        $("#razonsocial").prop('disabled', true);
                        $("#direccion").prop('disabled', true);
                        $("#telefono").prop('disabled', true);
                        $("#email").prop('disabled', true);
                    }
                }
            });
        });
    });
</script>

{% endblock %}

