{% extends "layout.html" %}
{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultar_fichas">Consultar fichas</a>
</button> 
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultaraprendiz">Consultar aprendiz</a>
</button> 
{% endblock%}

{% block instructores %}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
{% endblock %}

{% block indicadores %}
<button type="button" class="btn btn-outline-success ">
    <a   class="nav-link active text-white" href="registro_instructor.html">indicadores</a>
</button>
{% endblock %}
{% block content %}

<div class="container col-3 mt-5  pb-3   card rounded-5">
    <form class="card-body container col-12 text-center" action="/nuevo_instructor" method="POST">
        <h1 class="">Registro instructor</h1>
        <div class="text-start mt-4">
            <label class="form-label">Tipo de vinculación</label>
            <select name="estado" class="form-control form-select rounded-pill">
                <option disabled selected value="">Seleccione su vinculación</option>
                <option>Contratista</optio>
                <option>Funcionario</option>
            </select>
        </div>

        <div class="text-start mt-3">
            <label class="form-label">Ingrese numero de cedula</label> 
            <input class="container-inputs form-control rounded-pill" type="text" name="documento" placeholder="numero de cedula">
        </div>
        <div class="text-start mt-3">
            <label class="form-label">Ingrese nombre completo</label>
            <input class="container-inputs form-control rounded-pill" type="text" name="nombre"  placeholder="nombre completo">
        </div>

        <div class="text-start mt-3">
            <label class="form-label">Ingrese correo electronico</label>
            <input class="container-inputs form-control rounded-pill" type="text" name="email"  placeholder="E-mail">
        </div>

        <div class="text-start mt-3">
            <label class="form-label">Ingrese numero de telefono</label>
            <input class="container-inputs form-control rounded-pill" type="text" name="telefono"  placeholder="telefono">
        </div>

        <div class="mt-3 mb-3">
            <button type="submit" class="btn-lg btn-success ">Registrar instructor</button>

        </div>
</div>
<style>
    body {
        background-color: rgba(128, 128, 128, 0.137);
    }
</style>
    
        <script src="js/registroinstructor.js"></script>
{% endblock %}