{% extends "layout.html" %}
{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultar_fichas"><i class="fa-solid fa-house"></i></a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/seguimientos">Seguimientos</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/empresas">Empresas</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="aprendiz">Aprendices</a>
</button>
{% endblock%}
{% block leftmenu %}
<a  class="nav-link active text-white" href="/centros_formacion">Añadir centro</a>
{% endblock %}

{% block content %}
<img src="data:image/png;base64,{{ img_data }}" alt="Gráfico de Seguimientos por Instructor">
{% endblock%}