<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/rollaprendiz.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"><link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <title>roll aprendiz</title>
</head>
<header>
    <div class="user-icon" id="userIcon">
        <img src="acceso.png" alt="Icono de Usuario">
        <div class="menu" id="menu">
            <ul>
                <li><a href="#">Editar Perfil</a></li>
                <li><a href="#">Ver reportes</a></li>
                <li><a href="paginainicio.html">Cerrar sesiòn</a></li>
            </ul>
        </div>
    </div>
    <img src="Logo-sena-blanco-sin-fondo.png" alt="">
    </header>
<body> 
        <section>
          
            <table>
                <thead>
                    <h2>roll aprendiz</h2>
                    <tr>
                        <th>N°</th>
                        <th>NOMBRE</th>
                        <th>DESCARGAS</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Larily alfaro</td>
                        <td><span class="las la-file-download">  Descargar reporte </span></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Larily alfaro</td>
                        <td><span class="las la-file-download">  Descargar reporte </span></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Larily alfaro</td>
                        <td><span class="las la-file-download">  Descargar reporte </span></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Larily alfaro</td>
                        <td><span class="las la-file-download">  Descargar reporte </span></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Larily alfaro</td>
                        <td><span class="las la-file-download">  Descargar reporte </span></td>
                    </tr>
                 <script src="js/rollaprendiz.js"></script>             
</body>
</html>