{%extends "layout.html" %}
{% block consultar%}
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="/consultaraprendiz">Consultar aprendiz</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a  class="nav-link active text-white" href="instructores">Instructores</a>
</button>
<button type="button" class="btn btn-outline-success ">
    <a   class="nav-link active text-white" href="aprendiz">Aprendices</a>
</button>
{% endblock %}
{% block upload%}
<nav class="nav gris d-flex justify-content-between p-1 ">
    <form class="p-1 d-flex" action="/table" method="POST" enctype="multipart/form-data">
        
            <input type="file" name="archivo" accept=".xls, .xlsx" class="form-control-file btn btn-success mx-3  ">
        
        <button type="submit" class="btn btn-success" id="botonEnviar" disabled>Subir Archivo</button>
    </form>   
    <ul class="nav">
        <li class="">
            <button type="button" class="btn btn-outline-secondary btn-sm mx-2">
                <a  class="nav-link active text-white" href="#aprobados_h1">Etapa electiva aprobada</a>
            </button>
        </li>
        <li class="">
            <button type="button" class="btn btn-outline-secondary btn-sm mx-2">
                <a  class="nav-link active text-white" href="#juiciospendientes_h1">Juicios pendientes</a>
            </button>
        </li>
        <li class="">
            <button type="button" class="btn btn-outline-secondary btn-sm mx-2">
                <a  class="nav-link active text-white" href="#novedades_h1">Novedades</a>
            </button>
        </li>
    </ul>
</nav>


{% endblock %}

{%  block content%}



<div class="container-fluid mt-lg-3">
    <h1 class="text-center" id="aprobados_h1">Aprendices con etapa lectiva <strong>aprobada</strong></h1>

    <form method="POST" action="{{ url_for('ruta_aprendices.guardar_aprendices') }}">
        <input type="hidden" name="ficha_sin_decimal{{ index }}" value="{{ ficha_sin_decimal}}">
        <input type="hidden" name="programa{{ index }}" value="{{ programa}}">
        <table  id="aprobados" class= "text-center table table-success table-bordered table-striped table-hover style="width:100%" >
            <thead>
                <tr class="">
                    <th class="text-center">#</th>
                    <th class="text-center">Número de Documento</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">alternativa</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in aprendices_aprobados.iterrows() %}
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td>{{ row['Número de Documento'] }}</td>
                        <td>{{ row['Nombre'] }}</td>
                        <td>{{ row['Apellidos'] }}</td>
                        <td>
                            <select name="alternativa{{ index }}" id="alternativa{{ index }}">
                                <option value="Contrato de aprendizaje">Contrato de aprendizaje</option>
                                <!-- Otras opciones del select -->
                            </select>
                        </td>
                        <input type="hidden" name="documento{{ index }}" value="{{ row['Número de Documento'] }}">
                        <input type="hidden" name="nombre{{ index }}" value="{{ row['Nombre'] }}">
                        <input type="hidden" name="apellido{{ index }}" value="{{ row['Apellidos'] }}">
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="nav d-flex align-items-center justify-content-end mt-2">
            <li class="mx-3">
                <select  class="btn-lg btn-success" name="instructorSelect" id="instructorSelect">
                    <option disabled selected value="">Selecciona un instructor</option>
                    {% for instructor in instructores %}
                    <option value="{{instructor.documento}}" >{{instructor.nombre}}</option>
                    {% endfor %}
                </select>
            </li>
            <li>
                <button type="submit" class="btn-lg btn-outline-success" name="asignar_instructor" id="asignar_instructor" disabled>
                    Asignar instructor
                </button>
            </li>  
        </ul>
    </form>
    <div class="d-flex mt-2 justify-content-end mt-2">
        <ul>
            <button class="btn btn-warning">Descargar</button>
        </ul> 
    </div>
</div>



    

    <div class="container-fluid mt-lg-3">
        <h1 class="text-center" id="juiciospendientes_h1">Aprendices con <strong>juicios pendientes</strong> </h1>
        <table id="juiciospendientes" class= "text-center tabla table table-success table-bordered table-striped table-hover style="width:100%" >
            <thead>
                <tr class="">
                    <th class="text-center">#</th>
                    <th class="text-center">Número de Documento</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Competencia</th>
                    <th class="text-center">Resultado</th>
                    <th class="text-center">Juicio</th>
                    
                    
                    
                    <!-- <th>Competencia</th>
                    <th>Juicio de Evaluación</th> -->
                    <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                </tr>
            </thead>
            <tbody>
                {% for index, row in evaluar.iterrows() %}
                    <tr>
                        <td>{{index + 1}}</td>
                        <td>{{ row['Número de Documento'] }}</td>
                        <td>{{ row['Nombre'] }}</td>
                        <td>{{row['Apellidos']}}</td>
                        <td>{{row['Competencia']}}</td>
                        <td>{{row['Resultado de Aprendizaje']}}</td>
                        <td>{{row['Juicio de Evaluación']}}</td>
                        
                        <!-- <td>{{row['Competencia']}}</td>
                        <td>{{row['Juicio de Evaluación']}}</td> -->
                        <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between container-fluid mt-2">
        <ul>
            <button class="btn btn-success">Descargar</button>
        </ul>
    </div>

    <div class="container-fluid mt-lg-3">
        <h1 class="text-center" id="novedades_h1">Aprendices con  <strong>novedades</strong></h1>
        <table id="novedades" class= "text-center tabla table table-success table-bordered table-striped table-hover style="width:100%" >
            <thead>
                <tr class="">
                    <th class="text-center">#</th>
                    <th class="text-center">Número de Documento</th>
                    <th class="text-center">Nombres</th>
                    <th class="text-center">Apellidos</th>
                    <th class="text-center">Estado</th>
                    <!-- <th>Competencia</th>
                    <th>Juicio de Evaluación</th> -->
                    <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                </tr>
            </thead>
            <tbody>
                {% for index, row in novedades.iterrows() %}
                    <tr>
                        <td>{{index + 1}}</td>
                        <td>{{ row['Número de Documento'] }}</td>
                        <td>{{ row['Nombre'] }}</td>
                        <td>{{row['Apellidos']}}</td>
                        <td>{{row['Estado']}}</td>
                        
                        <!-- <td>{{row['Competencia']}}</td>
                        <td>{{row['Juicio de Evaluación']}}</td> -->
                        <!-- Agrega aquí las columnas adicionales que desees mostrar -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between container-fluid mt-2">
        <ul>
            <button class="btn btn-success">Descargar</button>
        </ul>
    </div>

    

{%endblock%}