@charset "UTF-8";
.logo {
  width: 60px;
}

.color-custom {
  background-color: #00af00;
}

.gris {
  background-color: #adb5bd;
}

.btn.btn-outline-success {
  border: none;
}

.btn.btn-outline-secondary {
  border: none;
}

.custom-input {
  border-width: 2px;
  color: black;
  border: solid 3px; /* Ajusta el grosor del borde según tus preferencias */
}

body {
  background-color: rgba(128, 128, 128, 0.137);
}
.atras-icono {
  display: flex;
  align-items: center;
}

.atras-icono > a {
  font-size: 20px;
  color: white;
  
}
.atras-icono.btn:hover i {
  color: white;
}

.color-red {
  color: red;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out; /* Transición de opacidad durante 1 segundo */
}

