{%extends "layout.html"%}

{%block head %}
  <link rel="stylesheet" href="/static/src/paginainicio.css">
  <title>{{title}}</title>
{% endblock%}

{% block login %}
<body>
  <div class="fondo">
    <form class="form-container" action="/login" method="POST"  >
      
      <h1>Iniciar sesión</h1>
        <label>Seleccione su rol</label>
          <select name="select">
            <option>Administrador</option>
            <option>Coordinador</option>
            <option>Instructor</option>
            <option>Aprendiz</option>
            <option value="">Empresario</option>
          </select>
          <label>Número de documento</label>              
          <div class="form-group form-div">   
            <span><i class="fa-solid fa-user"></i></span>
            <input type="text" id="username" name="username" placeholder=" Ingrese documento">  
          </div>
          <label>Contraseña</label>
          <div class="form-group form-div">
            <span><i class="fa-solid fa-lock"></i></span>
            <input  type="password" id="password" name="password" placeholder=" Ingrese contraseña">
          </div>    
          <button type="submit" class="btn btn-success"> Iniciar sesión</button>
    </div>  
  </form>

{% endblock %}
         